# GROQ_API_KEY: Required for Groq AI API calls.
GROQ_API_KEY="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"

# FLASK_URL: The URL of your local Python server (HACI).
FLASK_URL="http://localhost:8080"
